<%= form_for @businessform do |f| %>

<p>
<%= f.label :name %>
<%= f.text_field :name %>
</p>

<p>
<%= f.label :street %>
<%= f.text_field :street %>
</p>

<p>
<%= f.label :state %>
<%= f.text_field :state %>
</p>

<p>
<%= f.label :postcode %>
<%= f.number_field :postcode %>
</p>

<p>
<%= f.label :website %>
<%= f.url_field :website %>
</p>

<p>
<%= f.label :country %>
<%= f.country_select :country %>
</p>

<p>
<%= f.label :phone %>
<%= f.number_field :phone %>
</p>

<p>
<%= f.label :description %>
<%= f.text_area :description, cols: "40", rows: "5" %>
</p>

<p>
<%= f.label :city %>
<%= f.text_field :city %>
</p>

<p>
<%= f.label :category %>
<%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"} %>
</p>

<%= f.submit "Submit" %>
<% end %>

<hr><hr>
